html, body {
    height: 100%;
  }
  
  body {
    margin: 0px;
    display: flex;
  
    /* centers the sketch horizontally */
    justify-content: center;
  
    /* centers the sketch vertically */
    align-items: center;
  }
  
#wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    justify-items: center;
}

h1 {
    grid-row: 1;
    grid-column-start: 4;
    grid-column-end: 10;
}
h2 { 
    grid-row: 2;
    grid-column-start: 4;
    grid-column-end: 10;
}
button {
    width: 100px;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 1rem;
    border-radius: 14px;
    font-size: 20px;
}
#addition {
    background-color: #4CAF50;
    grid-row: 4;
    grid-column-start: 4;
    grid-column-end: 7;
}
#subtraction {
    background-color: #f44336;
    grid-row: 4;
    grid-column-start: 7;
    grid-column-end: 10;
}
#canvasholder {
    grid-row: 3;
    grid-column-start: 4;
    grid-column-end: 10;
}


#slidercontainer{
    grid-row: 3;
    grid-column-start: 2;
    grid-column-end: 4;

    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
}
#r{
    grid-row: 1;
    grid-column-start: 2;
    grid-column-end: 4;
}
#g{
    grid-row: 2;
    grid-column-start: 2;
    grid-column-end: 4;
}
#b{
    grid-row: 3;
    grid-column-start: 2;
    grid-column-end: 4;
}

.sliderr, .sliderg, .sliderb {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;  
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .sliderr::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: red;
    cursor: pointer;
  }
  
  .sliderr::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: red;
    cursor: pointer;
  }
  .sliderg::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: green;
    cursor: pointer;
  }
  
  .sliderg::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: green;
    cursor: pointer;
  }
  .sliderb::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: blue;
    cursor: pointer;
  }
  
  .sliderb::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: blue;
    cursor: pointer;
  }

  @media only screen and (max-width: 1440px){  
    #slidercontainer{
        grid-row: 5;
        grid-column-start: 4;
        grid-column-end: 10;
    
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        justify-items: center;
        align-items: center;
    }
    #r{
        grid-row: 1;
        margin: 15px;
    }
    #g{
        grid-row: 2;
        margin: 15px;
    }
    #b{
        grid-row: 3;
        margin: 15px;
    }
  }

  @media only screen and (max-width: 768px){
    body{
        margin-top: 50px;
    }
    #canvasholder {
      width: auto;
      grid-row: 3;
      grid-column-start: 1;
      grid-column-end: 12;
  }
  .p5Canvas {
    width:auto;
   }
  h1 {
    grid-row: 1;
    grid-column-start: 3;
    grid-column-end: 11;
}
  }
  @media only screen and (max-width: 425px){
    body{
        margin-top: 80px;
    }
    #addition {
        background-color: #4CAF50;
        grid-row: 4;
        grid-column-start: 3;
        grid-column-end: 6;
    }
    #subtraction {
        background-color: #f44336;
        grid-row: 4;
        grid-column-start: 8;
        grid-column-end: 11;
    }
    h1 {
      grid-row: 1;
      grid-column-start: 1;
      grid-column-end: 12;
  }
  }

  @media only screen and (max-width: 320px){
    body{
        margin-top: 100px;
    }
  }