/* semester 1 */
#s1{
  text-align: center;
}
 
  /* semester 1 */
#wrapper1{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-row-gap: 4rem;
  justify-items: center;
  margin-top: auto;
}
#s1head{
  grid-row: 1;
  grid-column-start: 4;
  grid-column-end: 10;
}
#image1desc{
  justify-items: center;
  grid-row: 2;
  grid-column-start: 4;
  grid-column-end: 10;
}
#c1{
  grid-row: 3;
  grid-column-start: 4;
  grid-column-end: 10;
}
#image2desc{
  justify-items: center;
  grid-row: 4;
  grid-column-start: 4;
  grid-column-end: 10;
}
#c2{
  grid-row: 5;
  grid-column-start: 4;
  grid-column-end: 10;
}
#image3desc{
  justify-items: center;
  grid-row: 6;
  grid-column-start: 4;
  grid-column-end: 10;
}
#c3{
  grid-row: 7;
  grid-column-start: 4;
  grid-column-end: 10;
}

/* about */
#aboutwrapper{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  justify-items: center;
  margin-top: auto;
}
#aboutheader{
  grid-row: 1;
  grid-column-start: 4;
  grid-column-end: 10;
}
#aboutpara{
  grid-row: 2;
  grid-column-start: 4;
  grid-column-end: 10;
}

 
/* semester 2 */
  body {
    display: flex;
    background-color: black;
    color: white;
  
    /* centers the sketch horizontally */
    justify-content: center;
  
    /* centers the sketch vertically */
    align-items: center;
  }
  
#wrapper2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    justify-items: center;
    margin-top: auto;
}

h1 {
    grid-row: 1;
    grid-column-start: 4;
    grid-column-end: 10;
    text-align: center;
}
h2 { 
    grid-row: 2;
    grid-column-start: 4;
    grid-column-end: 10;
    text-align: center;
}
button {
    width: 150px !important;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 1rem;
    border-radius: 14px;
    font-size: 20px;
    letter-spacing: 0rem !important;
    text-transform: none !important;
}
#addition {
    background-color: #4CAF50;
    grid-row: 4;
    grid-column-start: 3;
    grid-column-end: 6;
}
#reseting {
  background-color: grey;
  grid-row: 4;
  grid-column-start: 6;
  grid-column-end: 8;
}
#subtraction {
    background-color: #f44336;
    grid-row: 4;
    grid-column-start: 8;
    grid-column-end: 11;
}
#canvasholder {
    grid-row: 3;
    grid-column-start: 4;
    grid-column-end: 10;
}


#slidercontainer{
    grid-row: 3;
    grid-column-start: 1;
    grid-column-end: 3;

    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
}
#slidecontainer{
  width: 100% !important;
}
#r{
    grid-row: 1;
    grid-column-start: 2;
    grid-column-end: 4;
}
#g{
    grid-row: 2;
    
}
#b{
    grid-row: 3;
    grid-column-start: 2;
    grid-column-end: 4;
}

.sliderr, .sliderg, .sliderb {
    -webkit-appearance: none;
    height: 15px;
    border-radius: 5px;  
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .sliderr::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: red;
    cursor: pointer;
  }
  
  .sliderr::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: red;
    cursor: pointer;
  }
  .sliderg::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: green;
    cursor: pointer;
  }
  
  .sliderg::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: green;
    cursor: pointer;
  }
  .sliderb::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: blue;
    cursor: pointer;
  }
  
  .sliderb::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: blue;
    cursor: pointer;
  }

  @media only screen and (max-width: 1440px){  
    #slidercontainer{
        grid-row: 5;
        grid-column-start: 4;
        grid-column-end: 10;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        justify-items: center;
        align-items: center;
    }
    #r{
        grid-row: 1;
        margin: 15px;
    }
    #g{
        grid-row: 2;
        margin: 15px;
    }
    #b{
        grid-row: 3;
        margin: 15px;
    }
  }
  @media only screen and (max-width: 870px){
    #reseting {
      grid-row: 5;
    }
    #slidercontainer{
      grid-row: 7;
    }
  }
  @media only screen and (max-width: 768px){
    #canvasholder {
      grid-row: 3;
      grid-column-start: 1;
      grid-column-end: 13;
  }
  }
  @media only screen and (max-width: 425px){
    #slidercontainer{
      grid-row: 6;
      width: 100%;
    }
    #addition {
        background-color: #4CAF50;
        grid-row: 4;
        grid-column-start: 2;
        grid-column-end: 5;
    }
    #reseting {
      grid-row: 5;
      grid-column-start: 6;
      grid-column-end: 8;
    }
    #subtraction {
        background-color: #f44336;
        grid-row: 4;
        grid-column-start: 9;
        grid-column-end: 11;
    }

  }

  @media only screen and (max-width: 380px){
    #slidercontainer{
      grid-row: 7;
      width: 100%;
    }
    #addition {
        background-color: #4CAF50;
        grid-row: 4;
        grid-column-start: 1;
        grid-column-end: 13;
    }
    #reseting {
      grid-row: 6;
      grid-column-start: 1;
      grid-column-end: 13;
    }
    #subtraction {
        background-color: #f44336;
        grid-row: 5;
        grid-column-start: 1;
      grid-column-end: 13;

    }

  }
